img{
	width:250px;
	height:200px;
	margin-left:5px;
border-radius: 8px;
}
.img_px:hover{
	width:280px;
	height:250px;
	margin-left:5px;
	border-radius: 8px;
}
#grad1 {
	height:20px;
   color: white;
    background: linear-gradient( to right,#ff0066, yellow); /* Standard syntax (must be last) */
}